@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #ededed;
  --font-color-body: #ededed;
  --font-color-heading: #ffffff; /* Optional: slightly darker for headings */
  --font-sans: 'Outfit', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


body {
  background: var(--background);
  color: var(--font-color-body);
  font-family: var(--font-sans);
}

.text-body {
  --tw-text-opacity: 1;
  color: var(--font-color-body);
}

.font-body,
.font-heading {
  font-family: var(--font-sans);
}

.bg-body {
  --tw-bg-opacity: 1;
  background-color: var(--background);
}

/* Optional: heading-specific color */
.text-heading {
  color: var(--font-color-heading);
}
